body {
  margin: 0;
  text-align: center;
  background-color: #9AABD8;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #150f51;
  width: 600px;
  margin: 100px auto 0 auto;
  border: 3px solid white;
  border-radius: 20px;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 127px;
}

h3 {
  color: #eeeeee;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
}

.marcador {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Orbitron", sans-serif;
  color: #f94f6d;
  background-color: #080001;
  border: 1px solid red;
  text-align: center;
  width: 155px;
  height: 120px;
  left: 82px;
  top: 125px;
  border: none;
  border-radius: 10px;
}

.contenedorBtn {
  margin: 20px 0 50px 0;
  width: 155px;
  height: 45px;
  left: 82px;
  top: 271px;
}

.scoreBtn {
    font-family: "Orbitron", sans-serif;
  width: 45px;
  height: 45px;
  left: 192px;
  top: 271px;
  color: #9AABD8;
  border: 2px solid #9AABD8;
  background-color: #150f51;
  border-radius: 5px;
  margin: 0 2px 0 2px;
}
